[Unit]
Description=Run system monitoring checks

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
Persistent=true
Unit=system-monitor.target

[Install]
WantedBy=timers.target
