[Unit]
Description=Run system monitoring checks

[Timer]
OnCalendar=*:0/2
Persistent=true
Unit=system-monitor.target

[Install]
WantedBy=timers.target
