# hyprland configuration

# Define an array of source and target directories
links=(
    "$BASE_DIR/dotfiles/nvim:~/.config/nvim"
    "$BASE_DIR/dotfiles/.vimrc:~/.vimrc"
    "$BASE_DIR/dotfiles/.bashrc:~/.bashrc"
    "$BASE_DIR/dotfiles/.bash_profile:~/.bash_profile"
    "$BASE_DIR/dotfiles/.xbindkeysrc:~/.xbindkeysrc"
    "$BASE_DIR/dotfiles/.xinitrc:~/.xinitrc"
    "$BASE_DIR/dotfiles/lf:~/.config/lf"
    "$BASE_DIR/dotfiles/system-monitor.timer:~/.config/systemd/user/system-monitor.timer"
    "$BASE_DIR/dotfiles/system-monitor.target:~/.config/systemd/user/system-monitor.target"
    "$BASE_DIR/dotfiles/wifi-monitor.service:~/.config/systemd/user/wifi-monitor.service"
    "$BASE_DIR/dotfiles/vpn-monitor.service:~/.config/systemd/user/vpn-monitor.service"
    "$BASE_DIR/dotfiles/battery-monitor.service:~/.config/systemd/user/battery-monitor.service"
    "$BASE_DIR/dotfiles/Brave/Bookmarks:~/.config/BraveSoftware/Brave-Browser/Default/Bookmarks"
)
