window {
  background-color: #222222;
  border-radius: 10px;
  border: 2px solid rgba(151, 225, 173, 0.7);
  padding: 2px;
}
#entry {
  color: #ffffff;
  background-color: transparent;
  padding: 4px 12px;
  border-radius: 4px;
}
#entry:selected {
  background-color: rgba(151, 225, 173, 0.7);
  color: #ffffff;
}
#input {
  background-color: rgba(151, 225, 173, 0.7);
  color: #ffffff;
  margin: 0;
  padding: 0;
}