[Desktop Entry]
Name=Hyprland
Comment=An intelligent dynamic tiling Wayland compositor
Exec=Hyprland
Type=WaylandSession
DesktopNames=Hyprland
SessionType=wayland
